@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    min-height: 100vh;
    background-color: #fff;
    overflow-x: hidden ;
}

/* Dark Mode */

.dark {
    --black:#fff;
    --black2: #444;
    --white: #333;
    --white2: #444;
}

/* Side Navigation*/

/* .navigation {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 70px;
    background-color: black;
    border-left: 5px solid black;
    border-radius: 10px;
    box-sizing: initial;
    transition: width 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-top: 40px;
    width: 100%;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li.active {
    background-color: #fff;
}

.navigation ul li a {
    position: relative;
    text-decoration: none;
    display: block;
    width: 100%;
    display: flex;
    color: #fff;
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color: #fff;
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border-bottom-right-radius: 20px;
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background-color: #fff;
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border-top-right-radius: 20px;
}

.navigation ul li.active b:nth-child(1), .navigation ul li.active b:nth-child(2) {
    display: block;
}


.navigation ul li.active a {
    color: black ;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

ion-icon {
    font-size: 1.5em;
}

.title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active {
    background-color: rgb(189, 58, 58);
}

.toggle ion-icon {
    position: absolute;
    font-size: 32px;
    color: #fff;
    display: none;
}

.toggle ion-icon.open, .toggle.active ion-icon.close {
    display: block;
}

.toggle ion-icon.close, .toggle.active ion-icon.open {
    display: none;
} */


/* Animated Background*/
.hero-enter {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #70a5a1, black, blue);
    position: relative;
    background-size: 400% 400%;
    animation: change 10s ease-out infinite;
}

.animation-h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #fff;
    padding: 5rem 10rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: all;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

/* glass cards */

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    background: linear-gradient(-45deg, #EE7752, #70a5a1, black, blue);
    z-index: 1;
}

 .card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 280px;
    height: 500px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0 , 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.card-text {
    font-size: 1em;
    font-weight: 300;
}

.card-links {
    position: relative;
    display: inline-block;
    padding: 20px 8px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0 , 0.2);

}

.content {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

.enter-link {
    color: #fff;
}

.card-h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.card-h3 {
    font-size: 1.8em;
    color: black;
    z-index: 1;

}

/* about section*/

.about-container {
    max-width: 1400px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.header {
    padding: 20px 15px;
    position: relative;
    width: 100%;
    left: 0;
    background-color: lightgray;
}

.header-link {
    text-decoration: none;
    height: 40px;
    width: 40px;
    background-color: #70a5a1;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #fff;
    color:#fff;
    font-weight: 100;
    border-radius: 50%;
    text-transform: uppercase;
}

.header .hamburger-btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px;
    cursor: pointer;
    pointer-events: all;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.hamburger-btn span {
    display: block;
    height: 2px;
    width: 16px;
    background-color: black;
    position: relative;
    cursor: pointer;
    pointer-events: all;
}

.hamburger-btn span:before, .hamburger-btn span:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.hamburger-btn span:before {
    top: -4px;
}

.hamburger-btn span:after {
    top: 4px;
}


.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: 0 0 5px #EE7752 ;
}

.hover-in-shadow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* None side nav*/
.nav-menu {
    position: fixed;
    background-color: lightgray;
    padding: 0 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.nav-menu .nav-close {
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.nav-menu .nav-close:after {
    border-radius: 50%;
}

.nav-menu-inner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul {
    padding: 15px;
}

.nav-menu ul li {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.nav-menu ul li:last-child {
    margin-bottom: 0;
}

.nav-menu ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    color: black;
    padding: 5px 30px;
    border-radius: 30px;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.nav-menu ul li a.active {
    color: #EE7752;
    box-shadow: none;
}

.inner-shadow {
    box-shadow: 0 0 5px 0  #EE7752;
}

/* home section*/
.home-section {
    position: relative;
}
.home-section .full-screen {
    padding: 50px 0;
    min-height: 100vh;
    background-color: lightgray;
}

.align-items-center {
    align-items: center;
}

.home-text {
    padding-left: 15% !important;
}

.home-section .home-text, .home-section .home-img  {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.home-section .home-text p{
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}
.home-section .home-text .home-h2 {
    font-size: 55px;
    font-weight: 600;
    margin: 0;
}

.home-section .home-text .home-h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.home-section .home-img .img-box{
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;

}

.home-section .home-img .img-box img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent

}

.effect-wrap .effect {
    position: absolute;
    z-index: 1;
}

.effect-1 {
    width: 30px;
    height: 30px;
    border: 4px solid #EE7752;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes topBounce {
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(25px);
    }
}

@keyframes leftBounce {
    0%, 100%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(25px);
    }
}

.effect-2 {
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
    height: 3px;
    width: 3px;
    background-color: #EE7752;
    margin: 0 3px 8px;
}

.effect-3 {
    width: 180px;
    height: 180px;
    border: 25px solid #70a5a1;
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
    border-top: 30px solid transparent;
    border-left: 30px solid #fff;
    left: 30%;
    top: 30%;
    animation: spin 15s linear infinite;
}

.effect-4:before {
    border-top: 30px solid transparent;
    border-left: 30px solid #fff;
    content: '';
    position: absolute;
    left: -35px;
    top: -25px;
    opacity: 0.5;

}








